@import './mixins.scss';

body {
  font-family: sans-serif;
}

#App {
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  background-color: #f0f0f0;
  header {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-bottom: 2px solid black;
    position: fixed;
    padding: 0 8px;
    width: calc(100% - 16px);
    height: 50px;
    top: 0;
    left: 0;
    margin-bottom: 8px;
    .logo {
      cursor: pointer;
      @include piecewise(font-size, 22, 32);
      @include noSelect();
    }
    .loggedInAs {
      @include piecewise(font-size, 18, 24);
      .accountEmail {
        font-weight: bold;
      }
    }
  }
}
